.tweet-button{
  background-color: #4056a1;
  color: #FFFFFF;
  font-family: 'Bungee', cursive;
  border: none;
 }
 #tweet-form>div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 }
 .counter{
  font-family: 'Bungee', cursive;
 }
 .over-counter{
  color:red;
 }
 #tweet-text{
  color: #545149;
  width:100%;
  height: 3rem;
  margin-bottom: 0.5rem;
  border:none;
  border-bottom: 5px solid #545149;
  background-color: #f4f1ec;
  font-weight: 600;
 }
 #tweet-text::placeholder{
  color: #545149;
  font-weight: 600;
 }
 
 .error>i{
  margin:0px 10px;
 }
 .error{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width:100%;
  color: red;
  border: 2px solid red;
 }
